@charset "UTF-8";
@import "reset.css";
@import "mixins/breakpoints";

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 75rem;
  margin: 0 auto;
}


@include device("x-large") {
  .container {
    width: 70rem;
  }
}

@include device("large") {
  .container {
    width: 60rem;
  }
}

@include device("medium") {
  .container {
    width: 45rem;
  }
}

@include device("small") {
  .container {
    width: 100%;
  }
}
